.header{
    padding: 20px;
    background-color:#0a1942;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.links-header{
    font-size: x-large;
    font-family: auto;
}

.headerLogo p {
    margin-bottom: 0px;
    font-size: 25px;
    padding-bottom: 0px;
    color: #fff;
    text-shadow: 1px 0px 5px #fff;
}

.header .menuList a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    font-size: 18px;
}