/* .slider-container {
	position:relative;
	z-index:1;
	height:433px;
	width:950px;
	margin:0 auto;
	padding:0 0 52px 0;
}
.slider-container .pic, .mp-slider {
	border-radius:9px;
	box-shadow:0 0 5px #d4d4d4;
}
.slider-container .mask {
	border-radius:9px;
} */